body { font-family: sans-serif; margin-left: auto; margin-right: auto; margin-top: 0; max-width: 55em; }

h1, h2 { color: #1b7340; text-align: center; }
h2 { padding-top: 1em; }

a { text-decoration: none; color: blue; font-style: italic}
a:hover { text-decoration: underline; }

.logos { display: flex; }
.logo { flex: 33%; text-align: center; font-weight: bold; }
.logo img { width: 5em; height: 5em; }

td { vertical-align: top; padding-bottom: 0.5em; text-align: justify; }

.impressum { color: grey; }
p { padding-left: 1em; padding-right: 1em; text-align: justify; }

.announcement {
  background-color: #5de68a;
  padding: 0.5em;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0px 0px 20px #ffffff;
  margin-bottom: 1.5em;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-top: 0.35em solid #1b7340;
  border-bottom: 0.35em solid #1b7340;
}
@media (min-width: 40em) {
  .announcement {
    border: 0.35em solid #1b7340;
  }
}

.announcementsoft {
  background-color: #ffbbff;
  padding: 0.5em;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0px 0px 20px #ffffff;
  margin-bottom: 1.5em;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-top: 0.35em solid #770077;
  border-bottom: 0.35em solid #770077;
}
@media (min-width: 40em) {
  .announcementsoft {
    border: 0.35em solid #770077;
  }
}

.announcementhard {
  background-color: #ffbbbb;
  padding: 0.5em;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0px 0px 20px #ffffff;
  margin-bottom: 1.5em;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-top: 0.35em solid #770000;
  border-bottom: 0.35em solid #770000;
}
@media (min-width: 40em) {
  .announcementhard {
    border: 0.35em solid #770000;
  }
}

.pictures { text-align: center; margin-top: 2em; }
.pictures img { width: 100%; }
@media (min-width: 40em) {
  .pictures img { width: 49%; }
}

.picturesrow { text-align: center; margin-top: 2em; }
.picturesrow img { width: 100%; }
@media (min-width: 30em) {
  .picturesrow img { width: 35%; }
}

/*----ANFANG obere Navigationsleiste----*/
.topnav {
  overflow: hidden;
  background-color: #1b7340;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}


.topnav a {
  float: left;
  color: #fefefe;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/*----ENDE obere Navigationsleiste----*/

/*----ANFANG Wikipedia style Inhaltsverzeichnis----*/
.toc {
    display: inline-block;
    display: table;
    zoom: 1;
    *display: inline;
    padding: 7px;
}


.toc, .mw-warning, .toccolours {
    border: 1px solid #1b7340;
    background-color: #ecf9ef;
    padding: 5px;
    font-size: 95%;
}

.toctogglespan {
    font-size: 94%;
}

.toctogglelabel {
    cursor: pointer;
    color: #0645ad;
}

.toc .toctitle {
    text-align: center;
}

.toc .toctitle {
    direction: ltr;
}

.mw-content-ltr .toc ul, .mw-content-rtl .mw-content-ltr .toc ul {
    text-align: left;
}

.mw-body-content {
    line-height: 1.6;
    font-size: 0.875em;
}

.mw-body, .parsoid-body {
    color: #222222;
    direction: ltr;
}

.toc ul {
    list-style-type: none;
    list-style-image: none;
    text-align: left;
}
/*----ENDE Wikipedia style Inhaltsverzeichnis----*/

/*----ANFANG Hintergrund wie auf fridaysforfuture.de---*/
body.custom-background {
  background-color: #1b7340;
}

body, h2:not(.comments-title)::after {
  background: #1B7340 url(/images/erde_hell.svg);
      background-color: rgb(27, 115, 64);
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 120% 20%;
  background-size: 120%;
}

.site {
  max-width: 1153px;
  margin: 54px auto;
  padding: 54px 108px;
}
.site {
  margin: 14px;
  padding: 27px;
  background: white;
}
/*----ENDE Hintergrund wie auf fridaysforfuture.de---*/